extends base

block content 
    link(rel="stylesheet", href="/stylesheets/pages/user.css")
    include ./components/admin-navbar.pug
        .row.user.container
            .col.s12.m6.l6.user_photo
                img.card.hoverable(src=`/img/user/${admin.photo}`, alt=`${admin.name}`)
            .col.s12.m6.l6.user_details
                h4.title= admin.name  
                p=admin.email 
                p= admin.phoneNum 
                p= admin.id
       