extends base

block content 
    link(rel="stylesheet", href="/stylesheets/pages/products.css")
    .products_cont
        .buy_hero
            img(src="/img/ui/dine.jpg", alt="hero").responsive-img
        .container.row
            h3.center-align Lattest menus
            each product in products
                a.hoverable#products(href=`/product/${product.slug}`) 
                    .col.products.s12.m6.l4.card.hoverable
                        .card_img
                            img.image.responsive-img(src=`/img/products/${product.images[0]}`, alt=`${product.title}`)                        
                        .card_details
                            p= product.name
                            p= product.price
                            
                        .card_action
                            form.add-to-cart(data-product-id=`${product.id}`).col.s6.m6.l6
                                button Add to cart
                            a(href=`/product/${product.slug}`).col.s6.m6.l6
                                button Details
                                //- p.center-align Exchange: 
                                //-     i= product.exchange.concat('...')