extends base

block content 
    link(rel="stylesheet", href="/stylesheets/pages/user.css")
    .row.user.container
        .col.s12.m6.l6.user_photo
            img(src=`/img/user/${user.photo}`, alt=`${user.name}`).hoverable
        .col.s12.m6.l6.user_details.p-5
            h4.title= user.name  
            p=user.email 
            p= user.phoneNum 
            p= user.role

